[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.13"

[packages]
boto3 = "*"
fastapi = "*"
mangum = "*"
python-dotenv = "*"
requests = "*"
uvicorn = "*"

[dev-packages]
httpx = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
python-dotenv = "*"
requests = "*"
ruff = "*"
urllib3 = ">=2.5.0"